# 3D Models
# Large Datasets
# Photoshop Files
* text=auto
*.json filter=lfs diff=lfs merge=lfs -text
training_ready/**/*.json filter=lfs diff=lfs merge=lfs -text
training_ready/configs/hyperparameters/training_dataset.json filter=lfs diff=lfs merge=lfs -text
